<nav class="navbar navbar-expand-lg bg-body-secondary bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img width="40" alt="" src="/assets/favicon.png" />SUMAURANTES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/adivina">ADIVINA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dni">DNI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/perros">PERROS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cadena">CADENA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/imc">IMC</a>
        </li>              
        <li class="nav-item">
          <a class="nav-link" routerLink="/chuck">CHUCK</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/espejo">ESPEJO</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/video">VIDEOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/restaurantes">RESTAURANTES</a>
        </li>



      </ul>

    </div>
  </div>

</nav>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- ESTE COMPONENTE es la referencia donde se anclan / pintan
los otros componentes/paginas a las que voy navegando -->
<div class="container my-4">
  <router-outlet></router-outlet>
</div>

<div class="centro">
  <a href="https://github.com" target="_blank" id="github-link">
    <button class="zoom-button1" height="1px">
      <img class="zoom-button1" src="assets/vale2.png" alt="video" height="70px" />
   
    </button>
  </a>
</div>

